.wrapperDiv{
    display: flex;
    width: 45rem;
    height: 45rem;
}

.clearBtn{
    float: left;
    width: fit-content;
    height: 5%;
}


body{
    display: flex;
    justify-content: center;
}

.textbox{
    height: 50%;
    width: 50%;
}

.column{
    border: solid 1px black;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.row{
    border: solid 1px black;
    height: 100%;
    width: 100%;
}

.fillWithColor{
    background-color: blue;
}

.buttonAndText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

